In [24]:
import pandas as pd
import numpy as np
import re

In [18]:
data = pd.read_pickle("clean_data2.pkl")

In [19]:
data = data.loc[:,['ID','Species Name','Env Section']]

In [22]:
data['refCount'] = data['Env Section'].apply(lambda x : x.count('Ref.'))

In [248]:
data['refList'] = data['Env Section'].apply(lambda x : re.findall('depth range [\?0-9]+ \- [\?0-9]+ m.\(Ref..\d+|\S*.\(Ref..\d+',x))

In [252]:
data['mig_ref'] = ''
data['climate_ref'] = ''
data['depth_ref'] = ''
data['last_ref'] = ''
data['habitat_ref'] = ''

In [253]:
migrations = ['anadromous', 'catadromous', 'amphidromous', 'potamodromous', 'limnodromous', 'oceanodromous', 'non-migratory']
habitats = ['benthopelagic', 'pelagic', 'demersal', 'pelagic-neritic', 'reef-associated', 'bathypelagic', 
            'bathydemersal', 'pelagic-oceanic']
for ID in data.index:
    if data['refCount'][ID]==0:
        continue
    for ref in data['refList'][ID]:
        if ref.startswith(tuple(migrations)):
            data['mig_ref'][ID] = ref.split('Ref. ')[1]
            break
    for ref in data['refList'][ID]:
        if ref.startswith('depth'):
            data['depth_ref'][ID] = ref.split('Ref. ')[1]
            break
    for ref in data['refList'][ID]:
        if ref.startswith('Tropical'):
            data['climate_ref'][ID] = ref.split('Ref. ')[1]
            break
    for ref in data['refList'][ID]:
        if ref.startswith(tuple(habitats)):
            data['habitat_ref'][ID] = ref.split('Ref. ')[1]
            break
    for ref in data['refList'][ID]:
        if '°' in ref:
            data['last_ref'][ID] = ref.split('Ref. ')[1]
            break
        elif '?' in ref and not ref.startswith('depth'):
            data['last_ref'][ID] = ref.split('Ref. ')[1]
            break

C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mig_ref'][ID] = ref.split('Ref. ')[1]
C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['climate_ref'][ID] = ref.split('Ref. ')[1]
C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['depth_ref'][ID] = ref.split('Ref. ')[1]
C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['last_ref'][ID] = ref.split('Ref. ')[1]
C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['last_ref'][ID] = ref.split('Ref. ')[1]
C:\Users\SANYAM\AppData\Local\Temp/ipykernel_17792/1997736349.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['habitat_ref'][ID] = ref.split('Ref. ')[1]

In [254]:
data.iloc[:,-5:] = data.iloc[:,-5:].replace('',np.nan)

In [255]:
data

,ID,Species Name,Env Section,refCount,refList,mig_ref,climate_ref,depth_ref,last_ref,habitat_ref
0,64588,Aapticheilichthys websteri,Freshwater; benthopelagic. Tropical,0,[],NaN,NaN,NaN,NaN,NaN
1,16239,Aaptosyax grypus,Freshwater; pelagic; potamodromous (Ref. 5124...,2,"[potamodromous (Ref. 51243, Tropical (Ref. 71989]",51243,71989,NaN,NaN,NaN
2,2347,Abactochromis labrosus,Freshwater; demersal; pH range: 7.0 - 8.5; dH...,2,"[depth range 0 - 30 m (Ref. 85491, 26°C (Ref. ...",NaN,NaN,85491,1672,NaN
3,62612,Abalistes filamentosus,Marine; pelagic-neritic; depth range 61 - 180...,1,[depth range 61 - 180 m (Ref. 54835],NaN,NaN,54835,NaN,NaN
4,9,Abalistes stellatus,Marine; demersal; amphidromous (Ref. 51243); ...,2,"[amphidromous (Ref. 51243, depth range 7 - 350...",51243,NaN,58488,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
34772,63393,Zungaro jahu,Freshwater; benthopelagic. Tropical,0,[],NaN,NaN,NaN,NaN,NaN
34773,47756,Zungaro zungaro,Freshwater; demersal; pH range: 6.5 - 7.2; dH...,2,"[potamodromous (Ref. 51243, 24°C (Ref. 2060]",51243,NaN,NaN,2060,NaN
34774,63635,Zungaropsis multimaculatus,Freshwater; demersal. Tropical,0,[],NaN,NaN,NaN,NaN,NaN
34775,11898,Semaprochilodus taeniurus,Freshwater; benthopelagic; pH range: 5.5 - 7....,2,"[potamodromous (Ref. 51243, 26°C (Ref. 2059]",51243,NaN,NaN,2059,NaN
34776,26221,Scarus zufar,Marine; demersal; depth range 7 - 8 m (Ref. 5...,1,[depth range 7 - 8 m (Ref. 58018],NaN,NaN,58018,NaN,NaN

In [256]:
data.to_csv('reference.csv')